openapi: 3.0.0
info:
  title: Embed API
  description: You can interact with the Embed API through HTTP requests from any language, or via our official [Node.js](https://github.com/embedhq/embed-node) and [Python](https://github.com/embedhq/embed-python) clients.
  version: "1.0.0"
  contact:
    name: Embed Support
    email: support@useembed.com
security:
  - ApiKeyAuth: []
servers:
  - url: https://api.useembed.com/v1
tags:
  - name: Integrations
    description: Integrate with third-party apps.
  - name: Connections
    description: Connect accounts to integrations.
  - name: Session Tokens
    description: Secure the auth flow with session tokens.
  - name: Collections
    description: Manage data from apps with collections.
  - name: Syncs
    description: Sync data from apps.
  - name: Actions
    description: Take actions in apps.
  - name: Proxy
    description: Proxy requests to third-party APIs.
  - name: Webhooks
    description: View and manage webhooks.
  - name: Providers
    description: View integration providers.
paths:
  /integrations:
    post:
      operationId: createIntegration
      tags:
        - Integrations
      summary: Create integration
      description: Creates an integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIntegrationRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.create({
              id: "github-123",
              provider_key: "github",
              oauth_client_id: "...",
              oauth_client_secret: "..."
            });

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.create(
              id="github-123",
              provider_key="github",
              oauth_client_id="...",
              oauth_client_secret="..."
            )

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "id": "github-123",
                "provider_key": "github",
                "oauth_client_id": "...",
                "oauth_client_secret": "...",
              }'
    get:
      operationId: listIntegrations
      tags:
        - Integrations
      summary: List integrations
      description: Returns a list of integrations.
      parameters:
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/order"
        - "$ref": "#/components/parameters/after"
        - "$ref": "#/components/parameters/before"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIntegrationsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integrations = await embed.integrations.list();

            console.log(integrations);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integrations = client.integrations.list()

            print(integrations)

        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /integrations/{integration_id}:
    get:
      operationId: getIntegration
      tags:
        - Integrations
      summary: Retrieve integration
      description: Returns an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.retrieve("github-123");

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.retrieve("github-123")

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations/github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
    put:
      operationId: updateIntegration
      tags:
        - Integrations
      summary: Update integration
      description: Updates an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIntegrationRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.update("github-123", {
              oauth_client_id: "...",
              oauth_client_secret: "..."
            });

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.update(
              "github-123",
              oauth_client_id="...",
              oauth_client_secret="..."
            )

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations/github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "oauth_client_id": "...",
                "oauth_client_secret": "...",
              }'
    delete:
      operationId: deleteIntegration
      tags:
        - Integrations
      summary: Delete integration
      description: Deletes an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteIntegrationResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.integrations.delete("github-123");

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.integrations.delete("github-123")

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations/github-123 \
              -X DELETE \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /integrations/{integration_id}/enable:
    post:
      operationId: enableIntegration
      tags:
        - Integrations
      summary: Enable integration
      description: Enables an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.enable("github-123");

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.enable("github-123")

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations/github-123/enable \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /integrations/{integration_id}/disable:
    post:
      operationId: disableIntegration
      tags:
        - Integrations
      summary: Disable integration
      description: Disables an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.disable("github-123");

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.disable("github-123")

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations/github-123/disable \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /connections:
    get:
      operationId: listConnections
      tags:
        - Connections
      summary: List connections
      description: Returns a list of connections.
      parameters:
        - name: integration_id
          in: query
          description: Filter for connections belonging to a specific integration.
          required: false
          schema:
            type: string
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/order"
        - "$ref": "#/components/parameters/after"
        - "$ref": "#/components/parameters/before"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConnectionsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const connections = await embed.connections.list();

            console.log(connections);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            connections = client.connections.list()

            print(connections)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connections \
              -H "Authorization: Bearer $EMBED_API_KEY"
    post:
      operationId: upsertConnection
      tags:
        - Connections
      summary: Upsert connection
      description: Manually add a connection. We recommend using the authentication flow provided by Embed. However, if you've already obtained account credentials, you can use them to create a connection with this endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertConnectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const connection = await embed.connections.upsert({
              id: "user-123",
              integration_id: "github-123",
              auth_scheme: "oauth",
              credentials: {
                "access_token": "...",
                "refresh_token": "...",
                "expires_at": "..."
              }
            });

            console.log(connection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            connection = client.connections.upsert(
              id="user-123",
              integration_id="github-123",
              auth_scheme="oauth",
              credentials={
                "access_token": "...",
                "refresh_token": "...",
                "expires_at": "..."
              }
            )

            print(connection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connections \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "id": "user-123",
                "integration_id": "github-123",
                "auth_scheme": "oauth",
                "credentials": {
                  "access_token": "...",
                  "refresh_token": "...",
                  "expires_at": "..."
                }
              }'

  /connections/{connection_id}:
    get:
      operationId: getConnection
      tags:
        - Connections
      summary: Retrieve connection
      description: Returns a connection.
      parameters:
        - "$ref": "#/components/parameters/connectionId"
        - name: integration_id
          in: query
          description: The integration to which the connection belongs.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const connection = await embed.connections.retrieve("user-123", {
              integration_id: "github-123"
            });

            console.log(connection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            connection = client.connections.retrieve(
              "user-123",
              integration_id="github-123"
            )

            print(connection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connections/user-123?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
    put:
      operationId: updateConnection
      tags:
        - Connections
      summary: Update connection
      description: Updates a connection.
      parameters:
        - "$ref": "#/components/parameters/connectionId"
        - name: integration_id
          in: query
          description: The integration to which the connection belongs.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConnectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedConnection = await embed.connections.update("user-123", {
              integration_id: "github-123",
              metadata: {
                "foo": "bar",
              }
            });

            console.log(updatedConnection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_connection = client.connections.update(
              "user-123",
              integration_id="github-123",
              metadata={
                "foo": "bar",
              },
            )

            print(updated_connection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connections/user-123?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "metadata": {
                  "foo": "bar",
                }
              }'
    delete:
      operationId: deleteConnection
      tags:
        - Connections
      summary: Delete connection
      description: Deletes a connection.
      parameters:
        - "$ref": "#/components/parameters/connectionId"
        - name: integration_id
          in: query
          description: The integration to which the connection belongs.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteConnectionResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.connections.delete("user-123", {
              integration_id: "github-123"
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.connections.delete(
              "user-123"
              integration_id="github-123"
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connections/user-123?integration_id=github-123 \
              -X DELETE \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /session-tokens:
    post:
      operationId: createSessionToken
      tags:
        - Session Tokens
      summary: Create session token
      description: Creates a session token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionTokenRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionTokenObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sessionToken = await embed.sessionTokens.create({
              integration_id: "github-123",
              connection_id: "user-123",
              expires_in_mins: 60,
            });

            console.log(sessionToken);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            session_token = client.session_tokens.create(
              integration_id="github-123",
              connection_id="user-123",
              expires_in_mins=60
            )

            print(session_token)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/session-tokens \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "integration_id": "github-123",
                "connection_id": "user-123",
                "expires_in_mins": 60,
              }'
    get:
      operationId: listSessionTokens
      tags:
        - Session Tokens
      summary: List session tokens
      description: Returns a list of session tokens.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSessionTokensResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sessionTokens = await embed.sessionTokens.list();

            console.log(sessionTokens);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            session_tokens = client.session_tokens.list()

            print(session_tokens)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/session-tokens \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /session-tokens/{token}:
    get:
      operationId: getSessionToken
      tags:
        - Session Tokens
      summary: Retrieve session token
      description: Returns a session token.
      parameters:
        - name: token
          in: path
          description: The unique token that identifies the session.
          required: true
          schema:
            type: string
            examples:
              - token-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionTokenObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sessionToken = await embed.sessionTokens.retrieve("token-123");

            console.log(sessionToken);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            session_token = client.session_tokens.retrieve("token-123")

            print(session_token)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/session-tokens/token-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
    delete:
      operationId: deleteSessionToken
      tags:
        - Session Tokens
      summary: Delete session token
      description: Deletes a session token.
      parameters:
        - name: token
          in: path
          description: The unique token that identifies the session.
          required: true
          schema:
            type: string
            examples:
              - token-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteSessionTokenResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.sessionTokens.delete("token-123");

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.session_tokens.delete("token-123")

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/session-tokens/token-123 \
              -X DELETE \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers:
    get:
      operationId: listProviders
      tags:
        - Providers
      summary: List providers
      description: Returns a list of integration providers.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProvidersResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const providers = await embed.providers.list();

            console.log(providers);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            providers = client.providers.list()

            print(providers)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/providers \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers/{provider_key}:
    get:
      operationId: getProvider
      tags:
        - Providers
      summary: Retrieve provider
      description: Returns a provider.
      parameters:
        - name: provider_key
          in: path
          description: The unique key of the provider.
          required: true
          schema:
            type: string
            examples:
              - github
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const provider = await embed.providers.retrieve("github");

            console.log(provider);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            provider = client.providers.retrieve("github")

            print(provider)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/providers/github \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /collections:
    get:
      operationId: listCollections
      tags:
        - Collections
      summary: List collections
      description: Returns a list of collections.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collections belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCollectionsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collections = await embed.collections.list({
              integration_id: "github-123",
            });

            console.log(collections);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collections = client.collections.list(
              integration_id="github-123"
            )

            print(collections)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /collections/{collection_key}:
    get:
      operationId: getCollection
      tags:
        - Collections
      summary: Retrieve collection
      description: Returns a collection.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection_key
          in: path
          description: The unique key of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collection = await embed.collections.retrieve("issues", {
              integration_id: "github-123",
            });

            console.log(collection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection = client.collections.retrieve(
              "issues",
              integration_id="github-123"
            )

            print(collection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
    put:
      operationId: updateCollection
      tags:
        - Collections
      summary: Update collection
      description: Updates a collection.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection_key
          in: path
          description: The unique key of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCollectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedCollection = await embed.collections.update("issues", {
              integration_id: "github-123",
              auto_start_syncs: true,
            });

            console.log(updatedCollection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_collection = client.collections.update(
              "issues",
              integration_id="github-123",
              auto_start_syncs=True
            )

            print(updated_collection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "auto_start_syncs": true,
              }'
  /collections/{collection_key}/enable:
    post:
      operationId: enableCollection
      tags:
        - Collections
      summary: Enable collection
      description: Enables a collection.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection_key
          in: path
          description: The unique key of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collection = await embed.collections.enable("issues", {
              integration_id: "github-123",
            });

            console.log(collection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection = client.collections.enable(
              "issues",
              integration_id="github-123"
            )

            print(collection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues/enable?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /collections/{collection_key}/disable:
    post:
      operationId: disableCollection
      tags:
        - Collections
      summary: Disable collection
      description: Disables a collection.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection_key
          in: path
          description: The unique key of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collection = await embed.collections.disable("issues", {
              integration_id: "github-123",
            });

            console.log(collection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection = client.collections.disable(
              "issues",
              integration_id="github-123"
            )

            print(collection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues/disable?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /collections/{collection_key}/query:
    post:
      operationId: queryCollection
      tags:
        - Collections
      summary: Query collection
      description: Query a collection.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to use for the query.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryCollectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryCollectionResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const query = await embed.collections.query("issues", {
              integration_id: "github-123",
              connection_id: "user-123",
              query: "Dark mode",
              filter: {
                state: "open",
              }
            });

            console.log(query);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            query = client.collections.query(
              "issues",
              integration_id="github-123",
              connection_id="user-123",
              query="Dark mode",
              filter={
                "state": "open",
              }
            )

            print(query)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues/query?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "query": "Dark mode",
                "filter": {
                  "state": "open",
                }
              }'
  /collections/schemas:
    get:
      operationId: listCollectionSchemas
      tags:
        - Collections
      summary: List collection schemas
      description: Returns a list of collection schemas.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collection schemas belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCollectionSchemasResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collectionSchemas = await embed.collections.schemas.list({
              integration_id: "github-123",
            });

            console.log(collectionSchemas);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection_schemas = client.collections.schemas.list(
              integration_id="github-123"
            )

            print(collection_schemas)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/schemas?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /collections/{collection_key}/schema:
    get:
      operationId: getCollectionSchema
      tags:
        - Collections
      summary: Retrieve collection schema
      description: Returns a collection schema.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the collection schema belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection_key
          in: path
          description: The unique key of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionSchema"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collectionSchema = await embed.collections.schemas.retrieve("issues", {
              integration_id: "github-123",
            });

            console.log(collectionSchema);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection_schema = client.collections.schemas.retrieve(
              "issues",
              integration_id="github-123"
            )

            print(collection_schema)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues/schema?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /syncs:
    get:
      operationId: listSyncs
      tags:
        - Syncs
      summary: List syncs
      description: Returns a list of syncs.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSyncsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const syncs = await embed.syncs.list({
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(syncs);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            syncs = client.syncs.list(
              integration_id="github-123",
              connection_id="user-123"
            )

            print(syncs)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /syncs/{collection_key}:
    get:
      operationId: getSync
      tags:
        - Syncs
      summary: Retrieve sync
      description: Returns a sync.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection being synced.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.retrieve("issues", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.retrieve(
              "issues",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
    put:
      operationId: updateSync
      tags:
        - Syncs
      summary: Update sync
      description: Updates a sync.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection being synced.
          required: true
          schema:
            type: string
            examples:
              - issues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSyncRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedSync = await embed.syncs.update("issues", {
              integration_id: "github-123",
              connection_id: "user-123",
              frequency: "daily",
            });

            console.log(updatedSync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_sync = client.syncs.update(
              "issues",
              integration_id="github-123",
              connection_id="user-123",
              frequency="daily"
            )

            print(updated_sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "frequency": "daily",
              }'
  /syncs/{collection_key}/start:
    post:
      operationId: startSync
      tags:
        - Syncs
      summary: Start sync
      description: Starts a sync.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection being synced.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.start("issues", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.start(
              "issues",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/start?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /syncs/{collection_key}/stop:
    post:
      operationId: stopSync
      tags:
        - Syncs
      summary: Stop sync
      description: Stops a sync.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection being synced.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.stop("issues", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.stop(
              "issues",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/stop?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /syncs/{collection_key}/trigger:
    post:
      operationId: triggerSync
      tags:
        - Syncs
      summary: Trigger sync
      description: Triggers a one-time sync run.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection being synced.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.trigger("issues", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.trigger(
              "issues",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/trigger?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /syncs/{collection_key}/runs:
    get:
      operationId: listSyncRuns
      tags:
        - Syncs
      summary: List sync runs
      description: Returns a list of recent sync runs.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the sync runs belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the sync runs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection being synced.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSyncRunsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const syncRuns = await embed.syncs.runs.list("issues", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(syncRuns);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync_runs = client.syncs.runs.list(
              "issues",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(sync_runs)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/runs?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /syncs/{collection_key}/runs/{sync_run_id}:
    get:
      operationId: getSyncRun
      tags:
        - Syncs
      summary: Retrieve sync run
      description: Returns a sync run.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the sync run belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the sync run belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: collection_key
          in: path
          description: The unique key of the collection being synced.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: sync_run_id
          in: path
          description: The ID of the sync run.
          required: true
          schema:
            type: string
            examples:
              - sync-run-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncRunObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const syncRun = await embed.syncs.runs.retrieve("issues", "sync-run-123", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(syncRun);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync_run = client.syncs.runs.retrieve(
              "issues",
              "sync-run-123",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(sync_run)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/runs/sync-run-123?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /actions:
    get:
      operationId: listActions
      tags:
        - Actions
      summary: List actions
      description: Returns a list of actions.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the actions belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actions = await embed.actions.list({
              integration_id: "github-123",
            });

            console.log(actions);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            actions = client.actions.list(
              integration_id="github-123"
            )

            print(actions)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /actions/{action_key}:
    get:
      operationId: getAction
      tags:
        - Actions
      summary: Retrieve action
      description: Returns an action.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action_key
          in: path
          description: The unique key of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const action = await embed.actions.retrieve("create-issue", {
              integration_id: "github-123",
            });

            console.log(action);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action = client.actions.retrieve(
              "create-issue",
              integration_id="github-123"
            )

            print(action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /actions/{action_key}/trigger:
    post:
      operationId: triggerAction
      tags:
        - Actions
      summary: Trigger action
      description: Triggers an action.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to use for the action.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: action_key
          in: path
          description: The unique key of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TriggerActionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: The action response.
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const action = await embed.actions.trigger("create-issue", {
              integration_id: "github-123",
              connection_id: "user-123",
              input: {
                title: "Support dark mode",
                body: "It's too hard on the eyes at night.",
              }
            });

            console.log(action);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action = client.actions.trigger(
              "create-issue",
              integration_id="github-123",
              connection_id="user-123",
              input={
                "title": "Support dark mode",
                "body": "It's too hard on the eyes at night.",
              }
            )

            print(action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue/trigger?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": {
                  "title": "Support dark mode",
                  "body": "It's too hard on the eyes at night."
                }
              }'
  /actions/{action_key}/enable:
    post:
      operationId: enableAction
      tags:
        - Actions
      summary: Enable action
      description: Enables an action.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action_key
          in: path
          description: The unique key of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const action = await embed.actions.enable("create-issue", {
              integration_id: "github-123",
            });

            console.log(action);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action = client.actions.enable(
              "create-issue",
              integration_id="github-123"
            )

            print(action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue/enable?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /actions/{action_key}/disable:
    post:
      operationId: disableAction
      tags:
        - Actions
      summary: Disable action
      description: Disables an action.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action_key
          in: path
          description: The unique key of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const action = await embed.actions.disable("create-issue", {
              integration_id: "github-123",
            });

            console.log(action);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action = client.actions.disable(
              "create-issue",
              integration_id="github-123"
            )

            print(action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue/disable?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /actions/schemas:
    get:
      operationId: listActionSchemas
      tags:
        - Actions
      summary: List action schemas
      description: Returns a list of action schemas.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action schemas belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionSchemasResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionSchemas = await embed.actions.schemas.list({
              integration_id: "github-123",
            });

            console.log(actionSchemas);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_schemas = client.actions.schemas.list(
              integration_id="github-123"
            )

            print(action_schemas)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/schemas?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /actions/{action_key}/schema:
    get:
      operationId: getActionSchema
      tags:
        - Actions
      summary: Retrieve action schema
      description: Returns an action schema.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action schema belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action_key
          in: path
          description: The unique key of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionSchema"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionSchema = await embed.actions.schemas.retrieve("create-issue", {
              integration_id: "github-123",
            });

            console.log(actionSchema);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_schema = client.actions.schemas.retrieve(
              "create-issue",
              integration_id="github-123"
            )

            print(action_schema)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue/schema?integration_id=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /actions/{action_key}/runs:
    get:
      operationId: listActionRuns
      tags:
        - Actions
      summary: List action runs
      description: Returns a list of recent action runs.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action runs belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the action runs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: action_key
          in: path
          description: The unique key of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionRunsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionRuns = await embed.actions.runs.list("create-issue", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(actionRuns);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_runs = client.actions.runs.list(
              "create-issue",
              integration_id="github-123"
              connection_id="user-123"
            )

            print(action_runs)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue/runs?integration_id=github-123&connection_id="user-123" \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /actions/{action_key}/runs/{action_run_id}:
    get:
      operationId: getActionRun
      tags:
        - Actions
      summary: Retrieve action run
      description: Returns an action run.
      parameters:
        - name: integration_id
          in: query
          description: The ID of the integration to which the action run belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: connection_id
          in: query
          description: The ID of the connection to which the action run belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: action_key
          in: path
          description: The unique key of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
        - name: action_run_id
          in: path
          description: The ID of the action run.
          required: true
          schema:
            type: string
            examples:
              - action-run-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionRunObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionRun = await embed.actions.runs.retrieve("create-issue", "action-run-123", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(actionRun);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_run = client.actions.runs.retrieve(
              "create-issue",
              "action-run-123",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(action_run)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue/runs/action-run-123?integration_id=github-123&connection_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /proxy/{endpoint}:
    get:
      operationId: proxyGet
      tags:
        - Proxy
      summary: GET
      description: Proxy GET request with connection credentials.
      parameters:
        - name: endpoint
          in: path
          required: true
          schema:
            type: string
            description: The endpoint to proxy the request to.
        - name: integration_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the integration to use for the request.
        - name: connection_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the connection to use for the request.
        - name: base_url_override
          in: header
          required: false
          schema:
            type: string
            description: Override the base URL for the request.
        - name: retries
          in: header
          required: false
          schema:
            type: integer
            description: The number of times to retry the request.
            default: 0
            minimum: 0
            maximum: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example: { "C": 78769, "Python": 7769 }
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.proxy.get("/repos/octocat/hello-world/languages", {
              integration_id: "github-123",
              connection_id: "user-123",
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.proxy.get(
              "/repos/octocat/hello-world/languages",
              integration_id="github-123",
              connection_id="user-123"
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/proxy/repos/octocat/hello-world/languages \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "X-Embed-Integration-Id: github-123" \
              -H "X-Embed-Connection-Id: user-123"
    post:
      operationId: proxyPost
      tags:
        - Proxy
      summary: POST
      description: Proxy POST request with connection credentials.
      parameters:
        - name: endpoint
          in: path
          required: true
          schema:
            type: string
            description: The endpoint to proxy the request to.
        - name: integration_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the integration to use for the request.
        - name: connection_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the connection to use for the request.
        - name: base_url_override
          in: header
          required: false
          schema:
            type: string
            description: Override the base URL for the request.
        - name: retries
          in: header
          required: false
          schema:
            type: integer
            description: The number of times to retry the request.
            default: 0
            minimum: 0
            maximum: 10
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  {
                    "id": 1296269,
                    "name": "Hello-World-2",
                    "full_name": "octocat/Hello-World-2",
                    "fork": true,
                    "...": "...",
                  }
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.proxy.post("/repos/octocat/hello-world/forks", {
              integration_id: "github-123",
              connection_id: "user-123",
              body: {
                name: "Hello-World-2",
                default_branch_only: true
              }
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.proxy.post(
              "/repos/octocat/hello-world/forks",
              integration_id="github-123",
              connection_id="user-123",
              body={
                "name": "Hello-World-2",
                "default_branch_only": True
              }
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/proxy/repos/octocat/hello-world/forks \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "X-Embed-Integration-Id: github-123" \
              -H "X-Embed-Connection-Id: user-123" \
              -H "Content-Type: application/json" \
              -d '{
                "name": "Hello-World-2",
                "default_branch_only": true
              }'
    put:
      operationId: proxyPut
      tags:
        - Proxy
      summary: PUT
      description: Proxy PUT request with connection credentials.
      parameters:
        - name: endpoint
          in: path
          required: true
          schema:
            type: string
            description: The endpoint to proxy the request to.
        - name: integration_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the integration to use for the request.
        - name: connection_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the connection to use for the request.
        - name: base_url_override
          in: header
          required: false
          schema:
            type: string
            description: Override the base URL for the request.
        - name: retries
          in: header
          required: false
          schema:
            type: integer
            description: The number of times to retry the request.
            default: 0
            minimum: 0
            maximum: 10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  {
                    "content":
                      {
                        "name": "README.md",
                        "path": "README.md",
                        "sha": "95b966ae1c166bd92f8ae7d1c313e738c731dfc3",
                        "...": "...",
                      },
                    "commit":
                      {
                        "sha": "7638417db6dkf4f4d2d8d6c1b6d2d4f2d8d2d4f",
                        "message": "Updated README.md",
                        "...": "...",
                      },
                  }
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.proxy.put("/repos/octocat/hello-world/contents/readme.md", {
              integration_id: "github-123",
              connection_id: "user-123",
              body: {
                message: 'Updated README.md',
                content: 'bXkgbmV3IGZpbGUgY29udGVudHM=',
              }
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.proxy.put(
              "/repos/octocat/hello-world/contents/readme.md",
              integration_id="github-123",
              connection_id="user-123",
              body={
                "message": "Updated README.md",
                "content": "bXkgbmV3IGZpbGUgY29udGVudHM="
              }
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/proxy/repos/octocat/hello-world/contents/readme.md \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "X-Embed-Integration-Id: github-123" \
              -H "X-Embed-Connection-Id: user-123" \
              -H "Content-Type: application/json" \
              -d '{
                "message": "Updated README.md",
                "content": "bXkgbmV3IGZpbGUgY29udGVudHM="
              }'
    delete:
      operationId: proxyDelete
      tags:
        - Proxy
      summary: DELETE
      description: Proxy DELETE request with connection credentials.
      parameters:
        - name: endpoint
          in: path
          required: true
          schema:
            type: string
            description: The endpoint to proxy the request to.
        - name: integration_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the integration to use for the request.
        - name: connection_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the connection to use for the request.
        - name: base_url_override
          in: header
          required: false
          schema:
            type: string
            description: Override the base URL for the request.
        - name: retries
          in: header
          required: false
          schema:
            type: integer
            description: The number of times to retry the request.
            default: 0
            minimum: 0
            maximum: 10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  {
                    "content": null,
                    "commit":
                      {
                        "sha": "7638417db6d59f3c431d3e1f261cc637155684cd",
                        "message": "Deleted hello.txt",
                        "...": "...",
                      },
                  }
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.proxy.delete("/repos/octocat/hello-world/contents/hello.txt", {
              integration_id: "github-123",
              connection_id: "user-123",
              body: {
                message: 'Deleted hello.txt',
                sha: '95b966ae1c166bd92f8ae7d1c313e738c731dfc3',
              }
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.proxy.delete(
              "/repos/octocat/hello-world/contents/hello.txt",
              integration_id="github-123",
              connection_id="user-123",
              body={
                "message": "Deleted hello.txt",
                "sha": "95b966ae1c166bd92f8ae7d1c313e738c731dfc3"
              }
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/proxy/repos/octocat/hello-world/contents/hello.txt \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "X-Embed-Integration-Id: github-123" \
              -H "X-Embed-Connection-Id: user-123" \
              -H "Content-Type: application/json" \
              -X DELETE \
              -d '{
                "message": "Deleted hello.txt",
                "sha": "95b966ae1c166bd92f8ae7d1c313e738c731dfc3"
              }'
  /webhooks:
    post:
      operationId: createWebhook
      tags:
        - Webhooks
      summary: Create webhook
      description: Creates a webhook.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const webhook = await embed.webhooks.create({
              url: "https://my-app.com/webhook",
              events: ["sync.succeeded", "sync.failed"]
            });

            console.log(webhook);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            webhook = client.webhooks.create(
              url="https://my-app.com/webhook",
              events=["sync.succeeded", "sync.failed"]
            )

            print(webhook)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/webhooks \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "url": "https://my-app.com/webhook",
                "events": ["sync.succeeded", "sync.failed"]
              }'
    get:
      operationId: listWebhooks
      tags:
        - Webhooks
      summary: List webhooks
      description: Returns a list of webhooks.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const webhooks = await embed.webhooks.list();

            console.log(webhooks);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            webhooks = client.webhooks.list()

            print(webhooks)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/webhooks \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /webhooks/{webhook_id}:
    get:
      operationId: getWebhook
      tags:
        - Webhooks
      summary: Retrieve webhook
      description: Returns a webhook.
      parameters:
        - name: webhook_id
          in: path
          description: The unique identifier for the webhook.
          required: true
          schema:
            type: string
            examples:
              - webhook-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const webhook = await embed.webhooks.retrieve("webhook-123");

            console.log(webhook);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            webhook = client.webhooks.retrieve("webhook-123")

            print(webhook)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/webhooks/webhook-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
    put:
      operationId: updateWebhook
      tags:
        - Webhooks
      summary: Update webhook
      description: Updates a webhook.
      parameters:
        - name: webhook_id
          in: path
          description: The unique identifier for the webhook.
          required: true
          schema:
            type: string
            examples:
              - webhook-123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedWebhook = await embed.webhooks.update("webhook-123", {
              events: ["sync.succeeded", "sync.failed"]
            });

            console.log(updatedWebhook);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_webhook = client.webhooks.update(
              "webhook-123",
              events=["sync.succeeded", "sync.failed"]
            )

            print(updated_webhook)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/webhooks/webhook-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "events": ["sync.succeeded", "sync.failed"]
              }'
    delete:
      operationId: deleteWebhook
      tags:
        - Webhooks
      summary: Delete webhook
      description: Deletes a webhook.
      parameters:
        - name: webhook_id
          in: path
          description: The unique identifier for the webhook.
          required: true
          schema:
            type: string
            examples:
              - webhook-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWebhookResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const webhook = await embed.webhooks.delete("webhook-123");

            console.log(webhook);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            webhook = client.webhooks.delete("webhook-123")

            print(webhook)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/webhooks/webhook-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X DELETE
  /webhooks/{webhook_id}/enable:
    post:
      operationId: enableWebhook
      tags:
        - Webhooks
      summary: Enable webhook
      description: Enables a webhook.
      parameters:
        - name: webhook_id
          in: path
          description: The unique identifier for the webhook.
          required: true
          schema:
            type: string
            examples:
              - webhook-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const webhook = await embed.webhooks.enable("webhook-123");

            console.log(webhook);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            webhook = client.webhooks.enable("webhook-123")

            print(webhook)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/webhooks/webhook-123/enable \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /webhooks/{webhook_id}/disable:
    post:
      operationId: disableWebhook
      tags:
        - Webhooks
      summary: Disable webhook
      description: Disables a webhook.
      parameters:
        - name: webhook_id
          in: path
          description: The unique identifier for the webhook.
          required: true
          schema:
            type: string
            examples:
              - webhook-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

[...]
