openapi: 3.0.0
info:
  title: Embed API
  description: You can interact with the Embed API through HTTP requests from any language, or via our official [Node.js](https://github.com/embedhq/embed-node) and [Python](https://github.com/embedhq/embed-python) clients.
  version: "1.0.0"
  contact:
    name: Embed Support
    email: support@useembed.com
security:
  - ApiKeyAuth: []
servers:
  - url: https://api.useembed.com/v1
tags:
  - name: Integrations
    description: Integrate with third-party apps.
  - name: Connected Accounts
    description: Connect end-user accounts to integrations.
  - name: Session Tokens
    description: Short-lived tokens used to connect accounts securely.
  - name: Providers
    description: View integration providers.
  - name: Collections
    description: Store data from apps in collections.
  - name: Syncs
    description: Sync data from apps.
  - name: Queries
    description: Vector and hybrid search across app data.
  - name: Actions
    description: Take actions in apps.
  - name: Proxy
    description: Proxy requests to third-party APIs.
  - name: Webhooks
    description: View and manage webhooks.
paths:
  /integrations:
    post:
      operationId: createIntegration
      tags:
        - Integrations
      summary: Create integration
      description: Creates an integration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIntegrationRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.create({
              provider: "github",
              slug: "github-123",
              oauth_client_id: "1a2b...3c4d",
              oauth_client_secret: "5e6f...7g8h",
            });

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.create(
              provider="github",
              slug="github-123",
              oauth_client_id="1a2b...3c4d",
              oauth_client_secret="5e6f...7g8h",
            )

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "provider": "github",
                "slug": "github-123",
                "oauth_client_id": "1a2b...3c4d",
                "oauth_client_secret": "5e6f...7g8h",
              }'
    get:
      operationId: listIntegrations
      tags:
        - Integrations
      summary: List integrations
      description: Returns a list of integrations.
      parameters:
        - name: connected_account_id
          in: query
          description: Filter for integrations associated with a connected account.
          required: false
          schema:
            type: string
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/order"
        - "$ref": "#/components/parameters/after"
        - "$ref": "#/components/parameters/before"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIntegrationsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integrations = await embed.integrations.list();

            console.log(integrations);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integrations = client.integrations.list()

            print(integrations)

        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/integrations \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /integrations/{integration}:
    get:
      operationId: getIntegration
      tags:
        - Integrations
      summary: Retrieve integration
      description: Returns an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationSlug"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.retrieve("github-123");

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.retrieve("github-123")

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/integrations/github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY"
    put:
      operationId: updateIntegration
      tags:
        - Integrations
      summary: Update integration
      description: Updates an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationSlug"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIntegrationRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const integration = await embed.integrations.update("github-123", {
              oauth_client_id: "1a2b...3c4d",
              oauth_client_secret: "5e6f...7g8h",
            });

            console.log(integration);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            integration = client.integrations.update(
              "github-123",
              oauth_client_id="1a2b...3c4d",
              oauth_client_secret="5e6f...7g8h",
            )

            print(integration)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations/github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "oauth_client_id": "1a2b...3c4d",
                "oauth_client_secret": "5e6f...7g8h",
              }'
    delete:
      operationId: deleteIntegration
      tags:
        - Integrations
      summary: Delete integration
      description: Deletes an integration.
      parameters:
        - "$ref": "#/components/parameters/integrationSlug"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteIntegrationResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.integrations.delete("github-123");

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.integrations.delete("github-123")

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/integrations/github-123 \
              -X DELETE \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /connected-accounts:
    get:
      operationId: listConnectedAccounts
      tags:
        - Connected Accounts
      summary: List connected accounts
      description: Returns a list of connected accounts.
      parameters:
        - name: integration
          in: query
          description: Filter connected accounts by integration slug.
          required: false
          schema:
            type: string
        - "$ref": "#/components/parameters/limit"
        - "$ref": "#/components/parameters/order"
        - "$ref": "#/components/parameters/after"
        - "$ref": "#/components/parameters/before"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListConnectedAccountsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const connectedAccounts = await embed.connectedAccounts.list();

            console.log(connectedAccounts);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            connected_accounts = client.connected_accounts.list()

            print(connected_accounts)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/connected-accounts \
              -H "Authorization: Bearer $EMBED_API_KEY"
    post:
      operationId: upsertConnectedAccount
      tags:
        - Connected Accounts
      summary: Upsert connected account
      description: Manually add a connected account. We recommend using the [authentication flow](https://useembed.com/docs/guides/connect-an-account) provided by Embed. However, if you've already obtained account credentials, you can use them to create a connected account with this endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertConnectedAccountRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedAccountObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const connectedAccount = await embed.connectedAccounts.upsert({
              id: "user-123",
              integration: "github-123",
              auth_method: "oauth2",
              credentials: {
                "access_token": "...",
                "refresh_token": "...",
                "expires_at": "..."
              }
            });

            console.log(connectedAccount);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            connected_account = client.connected_accounts.upsert(
              id="user-123",
              integration="github-123",
              auth_method="oauth2",
              credentials={
                "access_token": "...",
                "refresh_token": "...",
                "expires_at": "..."
              }
            )

            print(connected_account)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connected-accounts \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "id": "user-123",
                "integration": "github-123",
                "auth_method": "oauth2",
                "credentials": {
                  "access_token": "...",
                  "refresh_token": "...",
                  "expires_at": "..."
                }
              }'
  /connected-accounts/{connected_account_id}:
    get:
      operationId: getConnectedAccount
      tags:
        - Connected Accounts
      summary: Retrieve connected account
      description: Returns a connected account.
      parameters:
        - "$ref": "#/components/parameters/connectedAccountId"
        - name: integration
          in: query
          description: The slug of the integration to which the connected account belongs.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedAccountObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const connectedAccount = await embed.connectedAccounts.retrieve({
              integration: "github-123"
              connected_account_id: "user-123",
            });

            console.log(connectedAccount);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            connected_account = client.connected_accounts.retrieve(
              integration="github-123"
              connected_account_id="user-123",
            )

            print(connected_account)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/connected-accounts/user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123
    put:
      operationId: updateConnectedAccount
      tags:
        - Connected Accounts
      summary: Update connected account
      description: Updates a connected account.
      parameters:
        - "$ref": "#/components/parameters/connectedAccountId"
        - name: integration
          in: query
          description: The slug of the integration to which the connected account belongs.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConnectedAccountRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedAccountObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedConnectedAccount = await embed.connectedAccounts.update({
              integration: "github-123",
              connected_account_id: "user-123",
              name: "Octocat"
            });

            console.log(updatedConnectedAccount);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_connected_account = client.connected_accounts.update(
              integration="github-123",
              connected_account_id="user-123",
              name="Octocat"
            )

            print(updated_connected_account)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connected-accounts/user-123?integration=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{ "name": "Octocat" }'
    delete:
      operationId: deleteConnectedAccount
      tags:
        - Connected Accounts
      summary: Delete connected account
      description: Deletes a connected account.
      parameters:
        - "$ref": "#/components/parameters/connectedAccountId"
        - name: integration
          in: query
          description: The slug of the integration to which the connected account belongs.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteConnectedAccountResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.connectedAccounts.delete({
              integration: "github-123"
              connected_account_id: "user-123",
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.connected_accounts.delete(
              integration="github-123"
              connected_account_id="user-123",
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/connected-accounts/user-123?integration=github-123 \
              -X DELETE \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /session-tokens:
    post:
      operationId: createSessionToken
      tags:
        - Session Tokens
      summary: Create session token
      description: Creates a session token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionTokenRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionTokenObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sessionToken = await embed.sessionTokens.create({
              integration: "github-123",
              connected_account_id: "user-123",
              expires_in_mins: 60,
            });

            console.log(sessionToken);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            session_token = client.session_tokens.create(
              integration="github-123",
              connected_account_id="user-123",
              expires_in_mins=60
            )

            print(session_token)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/session-tokens \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "integration": "github-123",
                "connected_account_id": "user-123",
                "expires_in_mins": 60,
              }'
    get:
      operationId: listSessionTokens
      tags:
        - Session Tokens
      summary: List session tokens
      description: Returns a list of session tokens.
      parameters:
        - name: integration
          in: query
          description: Filter for session tokens associated with an integration.
          required: false
          schema:
            type: string
        - name: connected_account_id
          in: query
          description: Filter for session tokens associated with a connected account.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSessionTokensResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sessionTokens = await embed.sessionTokens.list();

            console.log(sessionTokens);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            session_tokens = client.session_tokens.list()

            print(session_tokens)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/session-tokens \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /session-tokens/{token}:
    get:
      operationId: getSessionToken
      tags:
        - Session Tokens
      summary: Retrieve session token
      description: Returns a session token.
      parameters:
        - name: token
          in: path
          description: The unique token for the session.
          required: true
          schema:
            type: string
            examples:
              - st_1a2b3c
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionTokenObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sessionToken = await embed.sessionTokens.retrieve("st_1a2b3c");

            console.log(sessionToken);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            session_token = client.session_tokens.retrieve("st_1a2b3c")

            print(session_token)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/session-tokens/st_1a2b3c \
              -H "Authorization: Bearer $EMBED_API_KEY"
    delete:
      operationId: deleteSessionToken
      tags:
        - Session Tokens
      summary: Delete session token
      description: Deletes a session token.
      parameters:
        - name: token
          in: path
          description: The unique token for the session.
          required: true
          schema:
            type: string
            examples:
              - st_1a2b3c
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteSessionTokenResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.sessionTokens.delete("st_1a2b3c");

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.session_tokens.delete("st_1a2b3c")

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/session-tokens/st_1a2b3c \
              -X DELETE \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers:
    get:
      operationId: listProviders
      tags:
        - Providers
      summary: List providers
      description: Returns a list of integration providers.
      parameters:
        - name: include_collection_templates
          in: query
          description: Include collection templates for each provider in the response.
          required: false
          schema:
            type: boolean
            examples:
              - false
        - name: include_action_templates
          in: query
          description: Include action templates for each provider in the response.
          required: false
          schema:
            type: boolean
            examples:
              - false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProvidersResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const providers = await embed.providers.list();

            console.log(providers);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            providers = client.providers.list()

            print(providers)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/providers \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers/{provider}:
    get:
      operationId: getProvider
      tags:
        - Providers
      summary: Retrieve provider
      description: Returns a provider.
      parameters:
        - name: provider
          in: path
          description: The unique slug of the provider.
          required: true
          schema:
            type: string
            examples:
              - github
        - name: include_collection_templates
          in: query
          description: Include collection templates in the response.
          required: false
          schema:
            type: boolean
            examples:
              - false
        - name: include_action_templates
          in: query
          description: Include action templates in the response.
          required: false
          schema:
            type: boolean
            examples:
              - false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const provider = await embed.providers.retrieve("github");

            console.log(provider);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            provider = client.providers.retrieve("github")

            print(provider)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/providers/github \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers/{provider}/collection-templates:
    get:
      operationId: getProviderCollectionTemplates
      tags:
        - Providers
      summary: List collection templates
      description: Returns a list of collection templates for a provider.
      parameters:
        - name: provider
          in: path
          description: The unique slug of the provider.
          required: true
          schema:
            type: string
            examples:
              - github
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCollectionTemplatesResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collectionTemplates = await embed.providers.collectionTemplates.list("github");

            console.log(collectionTemplates);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection_templates = client.providers.collection_templates.list("github")

            print(collection_templates)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/providers/github/collection-templates \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers/{provider}/collection-templates/{collection}:
    get:
      operationId: getProviderCollectionTemplate
      tags:
        - Providers
      summary: Retrieve collection template
      description: Returns a collection template for a provider.
      parameters:
        - name: provider
          in: path
          description: The unique slug of the provider.
          required: true
          schema:
            type: string
            examples:
              - github
        - name: collection
          in: path
          description: The unique slug of the collection template.
          required: true
          schema:
            type: string
            examples:
              - issues
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionTemplateObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collectionTemplate = await embed.providers.collectionTemplates.retrieve("github", "issues");

            console.log(collectionTemplate);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection_template = client.providers.collection_templates.retrieve("github", "issues")

            print(collection_template)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/providers/github/collection-templates/issues \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers/{provider}/action-templates:
    get:
      operationId: getProviderActionTemplates
      tags:
        - Providers
      summary: List action templates
      description: Returns a list of action templates for a provider.
      parameters:
        - name: provider
          in: path
          description: The unique slug of the provider.
          required: true
          schema:
            type: string
            examples:
              - github
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionTemplatesResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionTemplates = await embed.providers.actionTemplates.list("github");

            console.log(actionTemplates);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_templates = client.providers.action_templates.list("github")

            print(action_templates)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/providers/github/action-templates \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /providers/{provider}/action-templates/{action}:
    get:
      operationId: getProviderActionTemplate
      tags:
        - Providers
      summary: Retrieve action template
      description: Returns an action template for a provider.
      parameters:
        - name: provider
          in: path
          description: The unique slug of the provider.
          required: true
          schema:
            type: string
            examples:
              - github
        - name: action
          in: path
          description: The unique slug of the action template.
          required: true
          schema:
            type: string
            examples:
              - create-issue
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionTemplateObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionTemplate = await embed.providers.actionTemplates.retrieve("github", "create-issue");

            console.log(actionTemplate);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_template = client.providers.action_templates.retrieve("github", "create-issue")

            print(action_template)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/providers/github/action-templates/create-issue \
              -H "Authorization: Bearer $EMBED_API_KEY"
  /collections:
    get:
      operationId: listCollections
      tags:
        - Collections
      summary: List collections
      description: Returns a list of collections.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the collections belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCollectionsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collections = await embed.collections.list({
              integration: "github-123",
            });

            console.log(collections);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collections = client.collections.list(
              integration="github-123"
            )

            print(collections)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/collections \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123
    post:
      operationId: createCollection
      tags:
        - Collections
      summary: Create collection
      description: Creates a collection from a template.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collection = await embed.collections.create({
              integration: "github-123",
              collection_template: "issues",
            });

            console.log(collection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection = client.collections.create(
              integration="github-123",
              collection_template="issues"
            )

            print(collection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "integration": "github-123",
                "collection_template": "issues",
              }'
  /collections/{collection}:
    get:
      operationId: getCollection
      tags:
        - Collections
      summary: Retrieve collection
      description: Returns a collection.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The unique slug of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The version of the collection to retrieve (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const collection = await embed.collections.retrieve({
              integration: "github-123",
              collection: "issues",
            });

            console.log(collection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            collection = client.collections.retrieve(
              integration="github-123",
              collection="issues"
            )

            print(collection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/collections/issues \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123
    put:
      operationId: updateCollection
      tags:
        - Collections
      summary: Update collection
      description: Updates a collection.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The unique slug of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The version of the collection to update (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCollectionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedCollection = await embed.collections.update({
              integration: "github-123",
              collection: "issues",
              is_enabled: true,
            });

            console.log(updatedCollection);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_collection = client.collections.update(
              integration="github-123",
              collection="issues",
              is_enabled=True
            )

            print(updated_collection)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues?integration=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{ "is_enabled": true }'
    delete:
      operationId: deleteCollection
      tags:
        - Collections
      summary: Delete collection
      description: Deletes a collection.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the collection belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The unique slug of the collection.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The version of the collection to delete (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCollectionResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.collections.delete({
              integration: "github-123",
              collection: "issues",
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.collections.delete(
              integration="github-123",
              collection="issues"
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/collections/issues?integration=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X DELETE
  /syncs:
    get:
      operationId: listSyncs
      tags:
        - Syncs
      summary: List syncs
      description: Returns a list of syncs.
      parameters:
        - name: integration
          in: query
          description: Filter syncs by integration.
          required: false
          schema:
            type: string
            examples:
              - github-123
        - name: connected_account_id
          in: query
          description: Filter syncs by connected account.
          required: false
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSyncsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const syncs = await embed.syncs.list({
              integration: "github-123",
              connected_account_id: "user-123",
            });

            console.log(syncs);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            syncs = client.syncs.list(
              integration="github-123",
              connected_account_id="user-123"
            )

            print(syncs)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/syncs \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123 \
              -d connected_account_id=user-123
    post:
      operationId: createSync
      tags:
        - Syncs
      summary: Create sync
      description: Creates a sync.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSyncRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.create({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
              frequency: "every 6 hours",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.create(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123"
              frequency="every 6 hours"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "integration": "github-123",
                "collection": "issues",
                "connected_account_id": "user-123",
                "frequency": "every 6 hours",
              }'
  /syncs/{collection}:
    get:
      operationId: getSync
      tags:
        - Syncs
      summary: Retrieve sync
      description: Returns a sync.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.retrieve({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.retrieve(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/syncs/issues \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123 \
              -d connected_account_id=user-123
    put:
      operationId: updateSync
      tags:
        - Syncs
      summary: Update sync
      description: Updates a sync.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSyncRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedSync = await embed.syncs.update({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
              exclusions: [ "issue-123", "issue-456" ],
            });

            console.log(updatedSync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_sync = client.syncs.update(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123",
              exclusions=["issue-123", "issue-456"]
            )

            print(updated_sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues?integration=github-123&connected_account_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{ "exclusions": ["issue-123", "issue-456"] }'
    delete:
      operationId: deleteSync
      tags:
        - Syncs
      summary: Delete sync
      description: Deletes a sync.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteSyncResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.syncs.delete({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.syncs.delete(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123"
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues?integration=github-123&connected_account_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X DELETE
  /syncs/{collection}/start:
    post:
      operationId: startSync
      tags:
        - Syncs
      summary: Start sync
      description: Starts a sync.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.start({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.start(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/start?integration=github-123&connected_account_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /syncs/{collection}/stop:
    post:
      operationId: stopSync
      tags:
        - Syncs
      summary: Stop sync
      description: Stops a sync.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.stop({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.stop(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/stop?integration=github-123&connected_account_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /syncs/{collection}/trigger:
    post:
      operationId: triggerSync
      tags:
        - Syncs
      summary: Trigger sync
      description: Triggers a one-time sync run.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const sync = await embed.syncs.trigger({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
            });

            console.log(sync);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync = client.syncs.trigger(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123"
            )

            print(sync)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/syncs/issues/trigger?integration=github-123&connected_account_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X POST
  /syncs/{collection}/runs:
    get:
      operationId: listSyncRuns
      tags:
        - Syncs
      summary: List sync runs
      description: Returns a list of recent sync runs.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSyncRunsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const syncRuns = await embed.syncs.runs.list({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
            });

            console.log(syncRuns);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync_runs = client.syncs.runs.list(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123"
            )

            print(sync_runs)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/syncs/issues/runs \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123 \
              -d connected_account_id=user-123
  /syncs/{collection}/runs/{sync_run_id}:
    get:
      operationId: getSyncRun
      tags:
        - Syncs
      summary: Retrieve sync run
      description: Returns a sync run.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the sync belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: collection
          in: path
          description: The slug of the collection to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - issues
        - name: collection_version
          in: query
          description: The collection version (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the syncs belong.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: sync_run_id
          in: path
          description: The ID of the sync run.
          required: true
          schema:
            type: string
            examples:
              - sr_1a2b3c
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncRunObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const syncRun = await embed.syncs.runs.retrieve({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
              sync_run_id: "sr_1a2b3c",
            });

            console.log(syncRun);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            sync_run = client.syncs.runs.retrieve(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123",
              sync_run_id="sr_1a2b3c"
            )

            print(sync_run)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/syncs/issues/runs/sr_1a2b3c \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123 \
              -d connected_account_id=user-123
  /query:
    post:
      operationId: singleQuery
      tags:
        - Queries
      summary: Query
      description: Executes a single query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const query = await embed.query({
              integration: "github-123",
              collection: "issues",
              connected_account_id: "user-123",
              query: "Dark mode",
              filter: { state: "open" }
            });

            console.log(query);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            query = client.query(
              integration="github-123",
              collection="issues",
              connected_account_id="user-123",
              query="Dark mode",
              filter={"state": "open"}
            )

            print(query)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/query \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "integration": "github",
                "collection": "issues",
                "connected_account_id": "user-123",
                "query": "Dark mode",
                "filter": { "state": "open" }
              }'
  /multi-query:
    post:
      operationId: multiQuery
      tags:
        - Queries
      summary: Multi-query
      description: Executes multiple queries in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiQueryRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiQueryResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const results = await embed.multiQuery({
              queries: [
                {
                  integration: "github-123",
                  collection: "issues",
                  connected_account_id: "user-123",
                  query: "Dark mode",
                  filter: { state: "open" }
                },
                {
                  integration: "slack",
                  collection: "messages",
                  connected_account_id: "user-123",
                  query: "Dark mode",
                  filter: { channel: "support" }
                }
              ]
            });

            console.log(results);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            results = client.multi_query(
              queries=[
                {
                  "integration": "github",
                  "collection": "issues",
                  "connected_account_id": "user-123",
                  "query": "Dark mode",
                  "filter": { "state": "open" }
                },
                {
                  "integration": "slack",
                  "collection": "messages",
                  "connected_account_id": "user-123",
                  "query": "Dark mode",
                  "filter": { "channel": "support" }
                }
            )

            print(results)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/multi-query \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "queries": [
                  {
                    "integration": "github",
                    "collection": "issues",
                    "connected_account_id": "user-123",
                    "query": "Dark mode",
                    "filter": { "state": "open" }
                  },
                  {
                    "integration": "slack",
                    "collection": "messages",
                    "connected_account_id": "user-123",
                    "query": "Dark mode",
                    "filter": { "channel": "support" }
                  }
                ]
              }'
  /actions:
    get:
      operationId: listActions
      tags:
        - Actions
      summary: List actions
      description: Returns a list of actions.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the actions belong.
          required: true
          schema:
            type: string
            examples:
              - github-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actions = await embed.actions.list({
              integration: "github-123",
            });

            console.log(actions);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            actions = client.actions.list(
              integration="github-123"
            )

            print(actions)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/actions \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123
    post:
      operationId: createAction
      tags:
        - Actions
      summary: Create action
      description: Creates an action from a template.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateActionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const action = await embed.actions.create({
              integration: "github-123",
              action_template: "create-issue",
            });

            console.log(action);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action = client.actions.create(
              integration="github-123",
              action_template="create-issue"
            )

            print(action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "integration": "github",
                "action_template": "create-issue",
              }'
  /actions/{action}:
    get:
      operationId: getAction
      tags:
        - Actions
      summary: Retrieve action
      description: Returns an action.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action
          in: path
          description: The unique slug of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
        - name: action_version
          in: query
          description: The version of the action to retrieve (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const action = await embed.actions.retrieve({
              integration: "github-123",
              action: "create-issue",
            });

            console.log(action);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action = client.actions.retrieve(
              integration="github-123",
              action="create-issue"
            )

            print(action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/actions/create-issue \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123
    put:
      operationId: updateAction
      tags:
        - Actions
      summary: Update action
      description: Updates an action.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action
          in: path
          description: The unique slug of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
        - name: action_version
          in: query
          description: The version of the action to update (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateActionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const updatedAction = await embed.actions.update({
              integration: "github-123",
              action: "create-issue",
              is_enabled: true,
            });

            console.log(updatedAction);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            updated_action = client.actions.update(
              integration="github-123",
              action="create-issue",
              is_enabled=True
            )

            print(updated_action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue?integration=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{ "is_enabled": true }'
    delete:
      operationId: deleteAction
      tags:
        - Actions
      summary: Delete action
      description: Deletes an action.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action
          in: path
          description: The unique slug of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
        - name: action_version
          in: query
          description: The version of the action to delete (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteActionResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.actions.delete({
              integration: "github-123",
              action: "create-issue",
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.actions.delete(
              integration="github-123",
              action="create-issue"
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue?integration=github-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -X DELETE
  /actions/{action}/trigger:
    post:
      operationId: triggerAction
      tags:
        - Actions
      summary: Trigger action
      description: Triggers an action.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action
          in: path
          description: The unique slug of the action.
          required: true
          schema:
            type: string
            examples:
              - create-issue
        - name: action_version
          in: query
          description: The version of the action to trigger (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account used to trigger the action.
          required: true
          schema:
            type: string
            examples:
              - user-123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TriggerActionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: The action response.
                example:
                  {
                    id: "123",
                    title: "Support dark mode",
                    body: "It's too hard on the eyes at night.",
                    "...": "...",
                  }
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const action = await embed.actions.trigger({
              integration: "github-123",
              action: "create-issue",
              connected_account_id: "user-123",
              input: {
                title: "Support dark mode",
                body: "It's too hard on the eyes at night.",
              }
            });

            console.log(action);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action = client.actions.trigger(
              integration="github-123",
              action="create-issue",
              connected_account_id="user-123",
              input={
                "title": "Support dark mode",
                "body": "It's too hard on the eyes at night."
              }
            )

            print(action)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/actions/create-issue/trigger?integration=github-123&connected_account_id=user-123 \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": {
                  "title": "Support dark mode",
                  "body": "It's too hard on the eyes at night."
                }
              }'
  /actions/{action}/runs:
    get:
      operationId: listActionRuns
      tags:
        - Actions
      summary: List action runs
      description: Returns a list of recent action runs.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action
          in: path
          description: The unique slug of the action to which the runs belong.
          required: true
          schema:
            type: string
            examples:
              - create-issue
        - name: action_version
          in: query
          description: The version of the action (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListActionRunsResponse"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionRuns = await embed.actions.runs.list({
              integration: "github-123",
              action: "create-issue",
              connected_account_id: "user-123",
            });

            console.log(actionRuns);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_runs = client.actions.runs.list(
              integration="github-123",
              action="create-issue",
              connected_account_id="user-123"
            )

            print(action_runs)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/actions/create-issue/runs \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123 \
              -d connected_account_id=user-123
  /actions/{action}/runs/{action_run_id}:
    get:
      operationId: getActionRun
      tags:
        - Actions
      summary: Retrieve action run
      description: Returns an action run.
      parameters:
        - name: integration
          in: query
          description: The slug of the integration to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - github-123
        - name: action
          in: path
          description: The unique slug of the action to which the run belongs.
          required: true
          schema:
            type: string
            examples:
              - create-issue
        - name: action_version
          in: query
          description: The version of the action (defaults to latest).
          required: false
          schema:
            type: string
            examples:
              - "1.2"
        - name: connected_account_id
          in: query
          description: The ID of the connected account to which the action belongs.
          required: true
          schema:
            type: string
            examples:
              - user-123
        - name: action_run_id
          in: path
          description: The ID of the action run.
          required: true
          schema:
            type: string
            examples:
              - action-run-123
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionRunObject"
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const actionRun = await embed.actions.runs.retrieve({
              integration: "github-123",
              action: "create-issue",
              connected_account_id: "user-123",
              action_run_id: "ar_1a2b3c",
            });

            console.log(actionRun);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            action_run = client.actions.runs.retrieve(
              integration="github-123",
              action="create-issue",
              connected_account_id="user-123",
              action_run_id="ar_1a2b3c"
            )

            print(action_run)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/actions/create-issue/runs/ar_1a2b3c \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -d integration=github-123 \
              -d connected_account_id=user-123
  /proxy/{endpoint}:
    get:
      operationId: proxyGet
      tags:
        - Proxy
      summary: GET
      description: Proxy GET request with connected account's credentials.
      parameters:
        - name: endpoint
          in: path
          required: true
          schema:
            type: string
            description: The endpoint to proxy the request to.
        - name: integration
          in: header
          required: true
          schema:
            type: string
            description: The slug of the integration to use for the request.
        - name: connected_account_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the connected account to use for the request.
        - name: base_url_override
          in: header
          required: false
          schema:
            type: string
            description: Override the base URL for the request.
        - name: retries
          in: header
          required: false
          schema:
            type: integer
            description: The number of times to retry the request.
            default: 0
            minimum: 0
            maximum: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example: { "C": 78769, "Python": 7769 }
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.proxy.get({
              integration: "github-123",
              connected_account_id: "user-123",
              endpoint: "/repos/octocat/hello-world/languages",
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.proxy.get(
              integration="github-123",
              connected_account_id="user-123",
              endpoint="/repos/octocat/hello-world/languages"
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl -G https://api.useembed.com/v1/proxy/repos/octocat/hello-world/languages \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "integration: github-123" \
              -H "connected_account_id: user-123"
    post:
      operationId: proxyPost
      tags:
        - Proxy
      summary: POST
      description: Proxy POST request with connected account's credentials.
      parameters:
        - name: endpoint
          in: path
          required: true
          schema:
            type: string
            description: The endpoint to proxy the request to.
        - name: integration
          in: header
          required: true
          schema:
            type: string
            description: The slug of the integration to use for the request.
        - name: connected_account_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the connected account to use for the request.
        - name: base_url_override
          in: header
          required: false
          schema:
            type: string
            description: Override the base URL for the request.
        - name: retries
          in: header
          required: false
          schema:
            type: integer
            description: The number of times to retry the request.
            default: 0
            minimum: 0
            maximum: 10
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  {
                    "id": 1296269,
                    "name": "Hello-World-2",
                    "full_name": "octocat/Hello-World-2",
                    "fork": true,
                    "...": "...",
                  }
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.proxy.post({
              integration: "github-123",
              connected_account_id: "user-123",
              endpoint: "/repos/octocat/hello-world/forks",
              body: {
                name: "Hello-World-2",
                default_branch_only: true
              }
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.proxy.post(
              integration="github-123",
              connected_account_id="user-123",
              endpoint="/repos/octocat/hello-world/forks",
              body={
                "name": "Hello-World-2",
                "default_branch_only": True
              }
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/proxy/repos/octocat/hello-world/forks \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "integration: github-123" \
              -H "connected_account_id: user-123" \
              -H "Content-Type: application/json" \
              -d '{
                "name": "Hello-World-2",
                "default_branch_only": true
              }'
    put:
      operationId: proxyPut
      tags:
        - Proxy
      summary: PUT
      description: Proxy PUT request with connected account's credentials.
      parameters:
        - name: endpoint
          in: path
          required: true
          schema:
            type: string
            description: The endpoint to proxy the request to.
        - name: integration
          in: header
          required: true
          schema:
            type: string
            description: The slug of the integration to use for the request.
        - name: connected_account_id
          in: header
          required: true
          schema:
            type: string
            description: The ID of the connected account to use for the request.
        - name: base_url_override
          in: header
          required: false
          schema:
            type: string
            description: Override the base URL for the request.
        - name: retries
          in: header
          required: false
          schema:
            type: integer
            description: The number of times to retry the request.
            default: 0
            minimum: 0
            maximum: 10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                example:
                  {
                    "content":
                      {
                        "name": "README.md",
                        "path": "README.md",
                        "sha": "95b966ae1c166bd92f8ae7d1c313e738c731dfc3",
                        "...": "...",
                      },
                    "commit":
                      {
                        "sha": "7638417db6dkf4f4d2d8d6c1b6d2d4f2d8d2d4f",
                        "message": "Updated README.md",
                        "...": "...",
                      },
                  }
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: "javascript"
          label: "Node.js"
          source: |
            import Embed from "@embedhq/node";

            const embed = new Embed();

            const response = await embed.proxy.put({
              integration: "github-123",
              connected_account_id: "user-123",
              endpoint: "/repos/octocat/hello-world/contents/readme.md",
              body: {
                message: 'Updated README.md',
                content: 'bXkgbmV3IGZpbGUgY29udGVudHM=',
              }
            });

            console.log(response);
        - lang: "python"
          label: "Python"
          source: |
            from embedhq import Embed

            client = Embed()

            response = client.proxy.put(
              integration="github-123",
              connected_account_id="user-123",
              endpoint="/repos/octocat/hello-world/contents/readme.md",
              body={
                "message": "Updated README.md",
                "content": "bXkgbmV3IGZpbGUgY29udGVudHM="
              }
            )

            print(response)
        - lang: "cURL"
          label: "cURL"
          source: |
            curl https://api.useembed.com/v1/proxy/repos/octocat/hello-world/contents/readme.md \
              -H "Authorization: Bearer $EMBED_API_KEY" \
              -H "integration: github-123" \
              -H "connected_account_id: user-123" \
              -H "Content-Type: application/json" \
              -d '{
                "message": "Updated README.md",
                "content": "bXkgbmV3IGZpbGUgY29udGVudHM="
              }'
    delete:
      operationId: proxyDelete
      tags:
        - Proxy
      summary: DELETE
[...]
